body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
}

.boite {
    background-color: #ffffff;
    border: 1px solid #ccc;
    padding: 20px;
    width: 300px; /* Ajustez la largeur selon vos besoins */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.produit {
    margin: 10px 0;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
}

h2 {
    margin: 0;
}

/* Pour afficher les éléments en colonne, vous pouvez supprimer la règle suivante si vous préférez une mise en page en ligne. */
.produit {
    flex-direction: column;
}
